<div style="margin: 5px;">
<h1>Impressum</h1>

<p>Diese Seite wurde erstellt, um die Arbeit der ehrenamtlichen HelferInnen bei der Flüchtlingshilfe in Erding besser zu koordinieren.<br></p>

<p><strong>Bitte beachten Sie: Wir versuchen zwar, die Informationen stets aktuell zu halten, können aber deren Richtigkeit nicht garantieren.</strong></p>
<br>
<p>Flüchtlingshilfe Erding e.V.<br>
Landshuter Straße 70<br>
85435 Erding<br><br>

Registergericht und Registernummer folgen in Kürze.<br><br>

Die Flüchtlingshilfe Erding verfolgt keine kommerziellen Ziele und versteht sich als non-profit Organisation.<br><br>

Vertreten durch:<br><br>

Christina Hundhammer<br>
01737213817<br><br>

Sabrina Tarantik<br>
01741644136<br>
<br>
<strong>Kontakt</strong><br><br>
Kontakt zu unserem Verein können Sie jederzeit über unsere Vorsitzenden aufnehmen:<br>
Christina Hundhammer<br>
+49 (0) 173 - 721 38 17<br>
christina.hundhammer@fluechtlingshilfe-erding.org<br><br>
Sabrina Tarantik<br>
+49 (0) 174 - 1644136<br>
sabrina.tarantik@fluechtlingshilfe-erding.org<br><br>

Für Presse-Anfragen wenden Sie sich bitte an presse@fluechtlingshilfe-erding.org<br>
&nbsp;
</p>
<p><strong>Abgrenzung:</strong></p>
<p>Die Web-Präsenz ist Teil des WWW und dementsprechend mit fremden, sich jederzeit wandeln könnenden Web-Sites verknüpft, die folglich auch nicht diesem Verantwortungsbereich unterliegen und für die nachfolgende Informationen nicht gelten. Dass die Links weder gegen Sitten noch Gesetze verstoßen, wurde genau ein mal geprüft: bevor sie hier aufgenommen wurden. Solche Links, die zu fremden Webprojekten führen, erkennen Sie daran: Neues Browserfenster</p>

<p><strong>Keine Haftung:</strong></p>
<p>Die Inhalte dieses Webprojektes wurden sorgfältig geprüft und nach bestem Wissen erstellt. Aber für die hier dargebotenen Informationen wird kein Anspruch auf Vollständigkeit, Aktualität, Qualität und Richtigkeit erhoben. Es kann keine Verantwortung für Schäden übernommen werden, die durch das Vertrauen auf die Inhalte dieser Website oder deren Gebrauch entstehen.</p>

<p><strong>Schutzrechtsverletzung:</strong></p>
<p>Falls Sie vermuten, dass von dieser Website aus eines Ihrer Schutzrechte verletzt wird, teilen Sie das bitte umgehend per elektronischer Post mit, damit zügig Abhilfe geschafft werden kann. Bitte nehmen Sie zur Kenntnis: Die zeitaufwändigere Einschaltung eines Anwaltes zur für den Diensteanbieter kostenpflichtigen Abmahnung entspricht nicht dessen wirklichen oder mutmaßlichen Willen.</p>

<p>Gemäß § 28 BDSG widersprechen wir jeder kommerziellen Verwendung und Weitergabe unserer Daten.</p>

<p><strong>Credits:</strong></p>
<p>The original system was written by <a href="https://github.com/cookieBerlin/engelsystem" target="_blank">cookie</a>. It was then completely rewritten and greatly enhanced by <a href="http://notrademark.de/">msquare</a> and <a href="http://mortzu.de/">mortzu</a> of <a href="http://planetcyborg.de">planet cyborg</a> and <a href="http://jplitza.de/">jplitza</a>.</p>
<p>Modified and further developed by <a href="https://facebook.com/groups/nerds4refugees" target="_blank">Nerds4Refugees</a> & <a href="http://welcomehelp.de" target="_blank">WelcomeHelp!</a></p>

<p><strong>Hosting:</strong></p>
<p>Webspace and domain is currently provided by <a href="http://all-connect.net" target="_blank">all-connect.net</a>. Thanks a lot for supporting us!</p>

<p><strong>Translation:</strong></p>
<p>Many thanks for the german translation: <a href="http://e7p.de">e7p</a>. Edited by Welcome Help!</p>

<p><strong>Icons:</strong></p>
<p>Some icons from the <a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam.com silk iconset</a> have been used. They are licensed under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>.
<br>Also, some icons from the <a href="http://fontawesome.io/" target=_blank">Font Awesome Icons</a> [licensed under <a href="http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL" target=_blank">SIL Open Font License (OFL)</a>] have been used.</p>
</div>
