<!DOCTYPE html>
<html>
<head>
<title>%title% - Flüchtlingshilfe Erding - Helfersystem</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/theme%theme%.css" />
<link rel="stylesheet" type="text/css" href="vendor/icomoon/style.css" />
<link rel="stylesheet" type="text/css" href="vendor/bootstrap-datepicker-1.4.0/css/bootstrap-datepicker3.min.css" />
<link rel="stylesheet" type="text/css" href="vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="vendor/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

<script type="text/javascript">
	$(document).ready(function(){
		$('ul.menu li').click(function() {
			var current = $(this);
			var content_box = $('#'+current.attr('data-container'));
			$('ul.menu li').removeClass('active');
			current.addClass('active');
			$('.content').hide();
			content_box.show();
		});	
	});	
</script>
%atom_link%
</head>
<body>
  %privacy_note%
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="?p=dashboard"><i class="fa fa-heart-o text-danger"></i> <strong class="visible-lg-inline">Flüchtlingshilfe Erding - Helfersystem</strong></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">%menu% %header_toolbar%</div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">%content%</div>
    <div class="row">
      <div class="col-md-12">
        <hr />
        <div class="text-center footer" style="margin-bottom: 10px;">
          <a href="?p=faq2"><i class="fa fa-question-circle"></i> FAQ (Hilfe)</a> · <a href="?p=imprint"><i class="fa fa-info-circle"></i> Impressum</a> · <a href="?p=privacy"><i class="fa fa-shield"></i> Datenschutz
           </a>
		   <br><small>Further developed by <a href="http://welcomehelp.de" target="_blank">Welcome Help</a>, <a href="https://www.facebook.com/groups/nerds4refugees/" target="_blank">Nerds4Refugees</a> & <a href="http://fluechtlingshilfe-erding.org/" target="_blank">Flüchtlingshilfe Erding e.V.</a></small>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="vendor/bootstrap-datepicker-1.4.0/js/bootstrap-datepicker.min.js"></script>
  <script type="text/javascript" src="vendor/bootstrap-datepicker-1.4.0/locales/bootstrap-datepicker.de.min.js"></script>
  <script type="text/javascript" src="vendor/Chart.min.js"></script>
  <script type="text/javascript" src="js/forms.js"></script>
  <script type="text/javascript" src="vendor/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
  <script type="text/javascript">
            $(function() {
                moment.locale("%locale%");
                $('.filterselect').multiselect({
                    enableHTML: true,
                    includeSelectAllOption: true,
                    enableFiltering: true,
                    enableCaseInsensitiveFiltering: true,
                    numberDisplayed: 0,
                    selectAllText: '%selectAllText%',
                    filterPlaceholder: '%filterPlaceholder%',
                    allSelectedText: '%allSelectedText%',
                    nSelectedText: '%nSelectedText%',
                    nonSelectedText: '%nonSelectedText%'
                });
                $(function () {
                    $('[data-toggle="popover"]').popover()
                });
            });
        </script>
  <script type="text/javascript" src="js/moment-countdown.js"></script>
</body>
</html>
